#heading{
  background-color: rgb(27,62,101);
  color: white;
  margin-left: 100px;
  margin-right: 300px;
  text-align: center;
  width: 850px;
}
#search-form{
  margin-left: 100px;
  margin-right: 100px;
}
.btn-search {
  background-color: darkslategray;
  color: black;
}
.btn-clear {
      background-color: darkslategray;
      color: black;
}
